---
import light_bulb from '../assets/light_bulb_small.png';
import KeywordsForm from '../components/KeywordsForm.svelte';
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>Keyword Extractor</title>
    </head>
    <body class='bg-gradient-to-t from-sky-600 to-indigo-500'>
        <main class='h-screen grid place-items-center max-w-lg mx-auto px-3'>
            <div class='text-center text-slate-100'>
                <img
                    src={light_bulb}
                    alt='light bulb'
                    class='w-20 mx-auto drop-shadow-lg'
                />

                <h1 class='text-2xl font-bold mt-2'>Keyword Extractor</h1>

                <p class='my-5'>
                    Paste in your text below and we'll extractor the keywords
                    for you
                </p>

                <KeywordsForm client:load />
            </div>
        </main>
    </body>
</html>
